.cookies-wrap {
  position: fixed;
  left: 50%;
  bottom: 35px;
  display: none;
  flex-direction: column;
  align-items: center;
  transform: translateX(-50%);
  border: 1px solid #c0c0c0;
  border-radius: 20px;
  box-shadow: 0 14px 42px 0 rgba(8, 15, 52, 0.06);
  background: #f1f1f1;
  width: 335px;
  height: 278px;
  z-index: 9999;
}

.cookies-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #080a0a;
  padding-left: 37px;
  padding-right: 42px;
  padding-top: 47px;
}

.cookies-btn-wrap {
  margin-top: 37px;
  display: flex;
  gap: 18px;
}

.cookie-btn {
  border: 1px solid #c0c0c0;
  border-radius: 56px;
  padding: 18px 26px;
}

.cookie-btn:hover {
  background: #080a0a;
  color: #f1f1f1;
  transition: 0.3s ease;
}

.close-cookies-modal-btn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 26px;
  right: 28px;
  width: 14px;
  height: 14px;
}


@media only screen and (min-width: 1024px) {
  .cookies-wrap {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px;
    width: 1272px;
    height: 164px;
    gap: 67px;
  }

  .cookies-text {
    max-width: 648px;
    padding: 0;
    font-size: 18px;
  }

  .cookies-btn-wrap {
    margin: 0;
  }

  .close-cookies-modal-btn {
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
  }
}
