<section class="advantages-section container" id="why-us">
  <div class="advantages-wrap">
    <h2 class="advantages-title">Dlaczego My?</h2>
    <h3 class="advantages-subtitle">
      Wybierając The Dazzling Puzzle Land, decydujesz się na jakość i wyjątkowość.
    </h3>
    <p class="advantages-text">
      Nasze produkty to połączenie sztuki i designu, które wyróżniają się nie
      tylko estetyką, ale także trwałością. Z nami masz pewność, że wybierasz
      unikalne przedmioty, które będą ozdobą Twojego wnętrza.
    </p>
    <h4 class="advantages-list-title">Dlaczego warto wybrać nasze produkty?</h4>
    <ul class="advantages-list">
      <li class="advantages-list-item">
        <p class="advantages-list-item-text">
          Ręczna produkcja: Każdy element jest ręcznie tworzony, co gwarantuje
          niepowtarzalność.
        </p>
      </li>
      <li class="advantages-list-item">
        <p class="advantages-list-item-text">
          Błyszczące akcenty: Zastosowanie glitteru, szkła i żywicy dodaje
          produktom niepowtarzalnego uroku.
        </p>
      </li>
      <li class="advantages-list-item">
        <p class="advantages-list-item-text">
          Personalizacja: Możliwość dopasowania produktów do własnych potrzeb i
          gustu.
        </p>
      </li>
      <li class="advantages-list-item">
        <p class="advantages-list-item-text">
          Idealne na prezent: Nasze produkty świetnie sprawdzą się jako oryginalny
          i elegancki prezent.
        </p>
      </li>
    </ul>
  </div>
</section>
