<section class="contact-section container" id="contact">
  <div class="contact-wrap">
    <h2 class="contact-title">Kontakt</h2>
    <h3 class="contact-subtitle">Masz pytania? Skontaktuj się z nami!</h3>
    <p class="contact-text">
      Jesteśmy dostępni, aby odpowiedzieć na Twoje pytania, pomóc w doborze
      produktów lub udzielić informacji na temat naszej oferty. Skontaktuj się z
      nami poprzez poniższy formularz lub wysyłając e-mail.
    </p>
    <h4 class="variants-contact-title">Sposoby kontaktu:</h4>
    <address>
      <p class="email-text">
        E-mail:
        <a class="email" href="mailto:info@dazzlingpuzzleland.com"
          >info@dazzlingpuzzleland.com</a
        ><br />
      </p>
      <p class="address-text">
        Nasza lokalizacja:
        <a class="address-location"
          href="https://www.google.com/maps/search/?api=1&query=Rękodzieła+12,+00-123+Warszawa"
          target="_blank"
          >ul. Rękodzieła 12,<br> 00-123 Warszawa</a
        >
      </p>
    </address>
  </div>
</section>
