<section>
  <div class="cookies-wrap">
    <button class="close-cookies-modal-btn"><img src="./img/close-cookies.png" alt=""></button>
      <p class="cookies-text">
        Il nostro sito web utilizza i cookie. Continuando la navigazione, acconsenti
        all'utilizzo dei cookie come descritto nella nostra Informativa sulla
        privacy.
      </p>
      <div class="cookies-btn-wrap">
        <button class="cookies-decline cookie-btn">Declino</button>
        <button class="cookies-accept cookie-btn">Accetta i cookie</button>
      </div>
  </div>
</section>
