<footer class="footer container">
  <h2 class="footer-title">The Dazzling Puzzle Land</h2>
  <address class="footer-address">
    <p class="footer-address-text">
      Adres:
      <a
        class="footer-address-location"
        href="https://www.google.com/maps/search/?api=1&query=Rękodzieła+12,+00-123+Warszawa"
        target="_blank"
        >ul. Rękodzieła 12, 00-123 Warszawa, Polska</a
      >
    </p>
    <p class="footer-email-text">
      E-mail:
      <a class="footer-email" href="mailto:info@dazzlingpuzzleland.com"
        >info@dazzlingpuzzleland.com</a
      ><br />
    </p>
    <p class="phone-text">
      Telefon: <a class="phone" href="tel:+48123456789">+48 123 456 789</a>
    </p>
  </address>

  <p class="copyright">© 2025 Wszelkie prawa zastrzeżone.</p>

  <nav class="info">
    <a href="./privat-policy.html">Polityka Prywatności</a> <span class="separator">|</span>
    <a href="./terms-and-conditions.html">Użytkowanie</a><br> <span class="separator">|</span>
    <a href="./cookies-policy.html">Polityka Cookies</a> <span class="separator">|</span>
    <a href="#">Kontakt</a>
  </nav>
</footer>
