<section class="gallery-section container" id="gallery">
  <div class="gallery-text-wrap">
    <h2 class="gallery-title">Galeria</h2>
    <h3 class="gallery-subtitle">
      Zobacz, jak nasze produkty<br />ozdabiają przestrzeń.
    </h3>
    <p class="gallery-text">
      Nasza galeria to miejsce, gdzie prezentujemy nasze produkty w różnych
      aranżacjach wnętrz. Zainspiruj się i zobacz, jak nasze puzzle mogą
      zmieniać Twoje wnętrza. Każdy produkt w galerii to unikalna kompozycja,
      która może stać się częścią Twojego domu.
    </p>
    <h4 class="gallery-list-img-title">
      Zobacz, jak nasze produkty prezentują się w różnych przestrzeniach:
    </h4>
  </div>

  <div class="gallery-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="gallery-slide-inner">
          <img
            class="gallery-img"
            src="./img/swiper/gallery-slides/flower-box.png"
            alt="blue box"
          />
          <img
            class="gallery-desktop-img"
            src="./img/desktop-img/flower-box.png"
            alt="blue box"
          />
          <p class="gallery-slider-text">
            Sypialnia: eleganckie breloki i szkatułki w stylowych aranżacjach.
          </p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="gallery-slide-inner">
          <img
            class="gallery-img"
            src="./img/swiper/gallery-slides/fall-img.png"
            alt="fall picture"
          />
          <img
            class="gallery-desktop-img"
            src="./img/desktop-img/fall-img.png"
            alt="blue box"
          />
          <p class="gallery-slider-text">
            Salon: duże obrazy-puzzle jako centralny punkt dekoracyjny.
          </p>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="gallery-slide-inner">
          <img
            class="gallery-img"
            src="./img/swiper/gallery-slides/fridge-magnet.png"
            alt="fridge magnets"
          />
          <img
            class="gallery-desktop-img"
            src="./img/desktop-img/fridge-magnet.png"
            alt="blue box"
          />
          <p class="gallery-slider-text">
            Kuchnia: magnesy w kształcie owoców i kwiatów, które ożywiają
            przestrzeń
          </p>
        </div>
      </div>
    </div>

    <div class="swiper-buttons">
      <button class="gallery-prev-btn">
        <img src="./img/swiper/arrows/left-arrow.png" class="default-arrow" />
        <img
          src="./img/swiper/arrows/active-arrow-left.png"
          class="disabled-arrow"
        />
      </button>
      <button class="gallery-next-btn">
        <img src="./img/swiper/arrows/right-arrow.png" class="default-arrow" />
        <img
          src="./img/swiper/arrows/active-arrow-right.png"
          class="disabled-arrow"
        />
      </button>
    </div>
  </div>
</section>
