<section class="gallery-section">
  <h2>Galeria</h2>
  <h3>Zobacz, jak nasze produkty ozdabiają przestrzeń.</h3>
  <p>
    Nasza galeria to miejsce, gdzie prezentujemy nasze produkty w różnych
    aranżacjach wnętrz. Zainspiruj się i zobacz, jak nasze puzzle mogą zmieniać
    Twoje wnętrza. Każdy produkt w galerii to unikalna kompozycja, która może
    stać się częścią Twojego domu.
  </p>
  <h3>Zobacz, jak nasze produkty prezentują się w różnych przestrzeniach:</h3>
  <div class="">swiper</div>
</section>
