<section class="handmade-section container">
  <h2 class="handmade-title">Ręczna Produkcja</h2>
  <h3 class="handmade-subtitle">
    Ręcznie robione dekoracje, które tworzą niepowtarzalną atmosferę w Twoim
    domu.
  </h3>
  <p class="handmade-text">
    Każdy produkt w naszej ofercie jest tworzony ręcznie przez naszych
    rzemieślników. Proces produkcji zaczyna się od starannego cięcia materiałów,
    przez malowanie i dekorowanie, aż po montaż gotowego produktu. Wszystko to
    odbywa się w naszej pracowni, gdzie liczy się precyzja i pasja.
  </p>
  <h4 class="handmade-list-title">Etapy produkcji:</h4>
  <ul class="handmade-list">
    <li class="handmade-list-item">
      <p class="handmade-list-item-text">
        Projektowanie: Na początku powstaje unikalny projekt produktu, który
        jest następnie dostosowywany do potrzeb klienta.
      </p>
    </li>
    <li class="handmade-list-item">
      <p class="handmade-list-item-text">
        Ręczne wykonanie: Każdy element jest cięty, malowany i łączony ręcznie,
        aby uzyskać perfekcyjny efekt.
      </p>
    </li>
    <li class="handmade-list-item">
      <p class="handmade-list-item-text">
        Dekorowanie: Używamy specjalnych materiałów, takich jak glitter, szkło i
        żywica, które nadają produktowi niepowtarzalny blask.
      </p>
    </li>
  </ul>
  <img class="handmade-img" src="./img/bracelet.png" alt="bracelet">
</section>
