<section class="handmade-section">
  <h2>Ręczna Produkcja</h2>
  <h3>
    Ręcznie robione dekoracje, które tworzą niepowtarzalną atmosferę w Twoim
    domu.
  </h3>
  <p>
    Każdy produkt w naszej ofercie jest tworzony ręcznie przez naszych
    rzemieślników. Proces produkcji zaczyna się od starannego cięcia materiałów,
    przez malowanie i dekorowanie, aż po montaż gotowego produktu. Wszystko to
    odbywa się w naszej pracowni, gdzie liczy się precyzja i pasja.
  </p>
  <h3>Etapy produkcji:</h3>
  <ul>
    <li>
      <p>
        Projektowanie: Na początku powstaje unikalny projekt produktu, który
        jest następnie dostosowywany do potrzeb klienta.
      </p>
    </li>
    <li>
      <p>
        Ręczne wykonanie: Każdy element jest cięty, malowany i łączony ręcznie,
        aby uzyskać perfekcyjny efekt.
      </p>
    </li>
    <li>
      <p>
        Dekorowanie: Używamy specjalnych materiałów, takich jak glitter, szkło i
        żywica, które nadają produktowi niepowtarzalny blask.
      </p>
    </li>
  </ul>
  <img src="" alt="">
</section>
