<header class="header-section container">
  <div class="header-wrap">
    <button class="header-menu-open-btn">
      <img class="menu-icon" src="./img/menu-burger.png" alt="" />
    </button>
    <button class="close-menu-btn">
      <img class="close-icon" src="./img/close-menu-btn.png" alt="" />
    </button>

    <h4 class="header-title"><a href="./">The Dazzling Puzzle Land</a></h4>
    <ul class="header-hiden-menu-list">
      <li class="hiden-menu-item">
        <a href="./#hero" class="hiden-item-link">Główna Sekcja</a>
      </li>
      <li class="hiden-menu-item">
        <a href="./#about" class="hiden-item-link">O Nas</a>
      </li>
      <li class="hiden-menu-item">
        <a href="./#how-it-works" class="hiden-item-link">Jak To Działa?</a>
      </li>
      <li class="hiden-menu-item">
        <a href="./#products" class="hiden-item-link">Produkty</a>
      </li>
      <li class="hiden-menu-item">
        <a href="./#philosophy" class="hiden-item-link">Nasza Filozofia</a>
      </li>
      <li class="hiden-menu-item">
        <a href="./#handmade" class="hiden-item-link">Ręczna Produkcja</a>
      </li>
      <li class="hiden-menu-item">
        <a href="./#why-us" class="hiden-item-link">Dlaczego My?</a>
      </li>
      <li class="hiden-menu-item">
        <a href="./#gallery" class="hiden-item-link">Galeria</a>
      </li>
      <li class="hiden-menu-item">
        <a href="./#contact" class="hiden-item-link">Kontakt</a>
      </li>
    </ul>
  </div>
</header>

<div class="backdrop">
  <div class="backdrop-wrap container">
    <ul class="header-menu-list">
      <li class="menu-item">
        <a href="./#hero" class="item-link-bd">Główna Sekcja</a>
      </li>
      <li class="menu-item">
        <a href="./#about" class="item-link-bd">O Nas</a>
      </li>
      <li class="menu-item">
        <a href="./#how-it-works" class="item-link-bd">Jak To Działa?</a>
      </li>
      <li class="menu-item">
        <a href="./#products" class="item-link-bd">Produkty</a>
      </li>
      <li class="menu-item">
        <a href="./#philosophy" class="item-link-bd">Nasza Filozofia</a>
      </li>
      <li class="menu-item">
        <a href="./#handmade" class="item-link-bd">Ręczna Produkcja</a>
      </li>
      <li class="menu-item">
        <a href="./#why-us" class="item-link-bd">Dlaczego My?</a>
      </li>
      <li class="menu-item">
        <a href="./#gallery" class="item-link-bd">Galeria</a>
      </li>
      <li class="menu-item">
        <a href="./#contact" class="item-link-bd">Kontakt</a>
      </li>
      <li class="menu-item">
        <a href="./privat-policy.html" class="item-link-bd"
          >Polityka Prywatności</a
        >
      </li>
      <li class="menu-item">
        <a href="./terms-and-conditions.html" class="item-link-bd"
          >Użytkowanie</a
        >
      </li>
      <li class="menu-item">
        <a href="./cookies-policy.html" class="item-link-bd"
          >Polityka Cookies</a
        >
      </li>
    </ul>
  </div>
</div>
