<section class="hero-section container">
    <h1 class="hero-title">
      Odkryj świat wyjątkowych dekoracji i pamiątek w formie puzzli - ręcznie
      robione, z błyszczącymi akcentami i precyzyjnym wykończeniem.
    </h1>
    <p class="hero-text">
      The Dazzling Puzzle Land to miejsce, w którym pasja do sztuki spotyka się
      z unikalnym stylem. Nasze produkty to nie tylko dekoracje - to prawdziwe
      dzieła sztuki, które można łączyć, tworząc własne kompozycje. Dzięki
      naszym produktom wprowadzisz do swojego domu odrobinę magii i blasku.
      <br><br>
      Zanurz się w świecie ręcznie wykonanych puzzli, które po złożeniu tworzą
      unikalne, błyszczące dzieła. Pozwól sobie na chwilę przyjemności podczas
      układania i odkrywania nowych form
    </p>
  <div class="image-wrap">
    <img src="./img/hero-img-1.png" alt="puzzle image" />
    <img src="./img/hero-img-2.png" alt="butterfly image" />
  </div>
</section>
