<section class="how-it-works-section">
  <h2>Jak To Działa?</h2>
  <h3>
    Układanie puzzli w dekoracjach - sposób na zabawę i personalizację
    przestrzeni.
  </h3>
  <p>
    Wszystkie nasze produkty są zaprojektowane tak, aby ich elementy można było
    łączyć w różne konfiguracje, tworząc wyjątkowe dekoracje. Każdy zestaw
    puzzli składa się z kilku elementów, które pasują do siebie, ale także
    pozwalają na tworzenie własnych układów. Jak to działa?
  </p>
  <ul>
    <li>
      <h3>Wybór produktu:</h3>
      <p>
        Wybierz jeden z naszych produktów (magnesy, obrazy, breloki, szkatułki)
        i zdecyduj, który kształt najbardziej Ci odpowiada.
      </p>
    </li>
    <li>
      <h3>Układanie</h3>
      <p>
        Złoż elementy, łącząc je w najwygodniejszy sposób. Każdy produkt jest
        tak zaprojektowany, abyś mógł dowolnie dostosować go do swojego wnętrza.
      </p>
    </li>
    <li>
      <h3>Personalizacja:</h3>
      <p>
        Po złożeniu puzzli, uzyskasz unikalną dekorację, która idealnie pasuje
        do Twojego stylu i przestrzeni.
      </p>
    </li>
  </ul>
</section>
