<section class="how-it-works-section container" id="how-it-works">
  <div class="main-text-wrap">
    <h2 class="how-it-works-title">Jak To Działa?</h2>
    <h3 class="how-it-works-subtitle">
      Układanie puzzli w dekoracjach - sposób na zabawę i personalizację
      przestrzeni.
    </h3>
    <p class="how-it-works-text">
      Wszystkie nasze produkty są zaprojektowane tak, aby ich elementy można było
      łączyć w różne konfiguracje, tworząc wyjątkowe dekoracje. Każdy zestaw
      puzzli składa się z kilku elementów, które pasują do siebie, ale także
      pozwalają na tworzenie własnych układów. 
    </p>
    <p class="how-it-works-text last-p">Jak to działa?</p>
  </div>
  <ul class="how-it-works-list">
    <li class="how-it-works-item">
      <h4 class="how-it-works-step-title">Wybór produktu:</h4>
      <p class="how-it-works-step-text">
        Wybierz jeden z naszych produktów (magnesy, obrazy, breloki, szkatułki)
        i zdecyduj, który kształt najbardziej Ci odpowiada.
      </p>
    </li>
    <li class="how-it-works-item">
      <h4 class="how-it-works-step-title">Układanie</h4>
      <p class="how-it-works-step-text">
        Złoż elementy, łącząc je w najwygodniejszy sposób. Każdy produkt jest
        tak zaprojektowany, abyś mógł dowolnie dostosować go do swojego wnętrza.
      </p>
    </li>
    <li class="how-it-works-item">
      <h4 class="how-it-works-step-title">Personalizacja:</h4>
      <p class="how-it-works-step-text">
        Po złożeniu puzzli, uzyskasz unikalną dekorację, która idealnie pasuje
        do Twojego stylu i przestrzeni.
      </p>
    </li>
  </ul>
</section>
