<section class="philosophy-section container">
  <h2 class="philosophy-title">Nasza Filozofia</h2>
  <h3 class="philosophy-subtitle">
    Z pasji do rękodzieła i dbałości o detale powstają nasze unikalne produkty.
  </h3>
  <p class="philosophy-text">
    Nasza filozofia opiera się na łączeniu tradycji rękodzieła z nowoczesnym
    designem. Tworzymy produkty, które nie tylko pięknie wyglądają, ale także
    mają duszę. Każdy element jest wykonany z dbałością o najmniejsze detale,
    aby spełniał oczekiwania naszych klientów.
  </p>
  <h4 class="philosophy-list-title">Nasza misja:</h4>
  <ul class="philosophy-list">
    <li class="philosophy-list-item">
      <p class="philosophy-list-item-text">
        Tworzenie unikalnych produktów, które wyrażają indywidualny styl.
      </p>
    </li>
    <li class="philosophy-list-item">
      <p class="philosophy-list-item-text">
        Łączenie estetyki z funkcjonalnością w każdym detalu.
      </p>
    </li>
    <li class="philosophy-list-item">
      <p class="philosophy-list-item-text">
        Promowanie rękodzieła i wspieranie tradycyjnych metod produkcji.
      </p>
    </li>
  </ul>
</section>
