<section class="philosophy-section">
  <h2>Nasza Filozofia</h2>
  <h3>
    Z pasji do rękodzieła i dbałości o detale powstają nasze unikalne produkty.
  </h3>
  <p>
    Nasza filozofia opiera się na łączeniu tradycji rękodzieła z nowoczesnym
    designem. Tworzymy produkty, które nie tylko pięknie wyglądają, ale także
    mają duszę. Każdy element jest wykonany z dbałością o najmniejsze detale,
    aby spełniał oczekiwania naszych klientów.
  </p>
  <h3>Nasza misja:</h3>
  <ul>
    <li>
        <p>Tworzenie unikalnych produktów, które wyrażają indywidualny styl.</p>
    </li>
    <li>
        <p>Łączenie estetyki z funkcjonalnością w każdym detalu.</p>
    </li>
    <li>
        <p>Promowanie rękodzieła i wspieranie tradycyjnych metod produkcji.</p>
    </li>
  </ul>
</section>
