@import url("./styles/reset.css");
@import url("./styles/header.css");
@import url("./styles/hero.css");
@import url("./styles/how-it-works.css");
@import url("./styles/products.css");
@import url("./styles/philosophy.css");
@import url("./styles/handmade.css");
@import url("./styles/advantages.css");
@import url("./styles/gallery.css");
@import url("./styles/contacts.css");
@import url("./styles/about.css");
@import url("./styles/footer.css");
@import url("./styles/cookies.css");
@import url("./styles/terms-and-conditions.css");

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #080a0a;
    background-color: #F5F5F5;
}

h1,
h2 {
  font-family: "Montserrat", sans-serif;
}

h3 {
    font-weight: 600;
}

address {
  font-style: normal;        
  text-decoration: none; 
}

